<!DOCTYPE html>
<% # Here we force a scrollbar to always be there
   # This so that things don't jump around when content gets longer and a scrollbar is suddenly added
   # (which is particularly jarring when doing searches for example)
%>
<html style="overflow-y: scroll">
<head>
  <title>RealCodeRunner</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <%= yield :head %>
</head>
<body>
<%= yield %>
</body>
</html>
